<br><br>

<div class="row">
    <div *ngIf="car" id="carouselExampleDark" class="carousel carousel-dark slide col-md-7" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img *ngIf="car.carImage.length==0 " [src]="imgUrl + defaultImage " class="d-block w-100 " alt="... ">
                <img *ngIf="car.carImage.length !=0 " [src]="imgUrl + car.carImage[0].imagePath " class="d-block w-100 " alt="... ">
            </div>
            <div *ngIf="car.carImage.length > 1" class="carousel-item" data-bs-interval="2000">
                <img [src]="imgUrl + car.carImage[1].imagePath " class="d-block w-100 " alt="... ">
            </div>
            <div *ngIf="car.carImage.length > 2" class="carousel-item">
                <img [src]="imgUrl + car.carImage[2].imagePath " class="d-block w-100 " alt="... ">
            </div>
            <div *ngIf="car.carImage.length > 3" class="carousel-item">
                <img [src]="imgUrl + car.carImage[3].imagePath " class="d-block w-100 " alt="... ">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
    </div>
    <div *ngIf="car" class="m-auto col-md-4">
        <div class=" row">

            <h2 class="d-flex tittle">{{car.brandName}} {{car.carName}}</h2>
            <a style="margin-top:-7px; margin-bottom: 8px;" href="/cars/details/{{car.brandId}}">{{car.brandName}}</a>
            <span class="border border-secondary propf5"><b>RENK :</b> {{car.colorName}}</span>
            <span class="border border-success propf9"><b>MODEL :</b> {{car.modelYear}}</span>
            <span class="border border-danger propf7"><b>YAKIT TÜRÜ :</b> {{car.fuelType}}</span>
            <span class="border border-warning propf7"><b>VİTES TİPİ :</b> {{car.gearType}}</span>
            <span class="border border-info propf9"><b>MOTOR GÜCÜ :</b> {{car.enginePower}}</span>

            <div class="container mt-3" style="border: 1px solid gray;">
                {{car.description}}
            </div>
            <hr style="margin-top: 25px;">

            <div class="discount">
                <h6>Bu haftaya Özel indirimi</h6>
                <h2>KAÇIRMA!</h2>
            </div>
            <span class="dprice">{{car.dailyPrice*1.2 | currency: "TRY":"₺":"3.2-2"}}</span>
            <span class="price"><b>{{car.dailyPrice | currency: "TRY":"₺":"3.2-2"}}</b></span>
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Kirala
              </button>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <h3 class="text-center">En çok tercih edilen araçlar</h3>
    <div *ngFor="let car of cars | slice:2:7" class="m-auto mt-3 col-md-3 card" style="width: 15rem; height: 350px;">
        <img *ngIf="car.carImage.length == 0" class="card-img-top" alt="Image" width="100" height="100" style="object-fit: cover;" [src]="imgUrl + defaultImage">
        <img *ngIf="car.carImage.length != 0" class="card-img-top" alt="Image" width="100" height="100" style="object-fit: contain;" [src]="imgUrl + car.carImage[0].imagePath ">


        <div class="card-body">
            <h5 class="text-center card-title ">{{car.brandName}} {{car.carName}}</h5>
        </div>
        <ul class="list-group list-group-flush ">
            <li class="text-center list-group-item "><span class="discountt">{{car.dailyPrice*1.2 | currency: "TRY":"₺":"3.2-2"}}       
            </span><br> {{car.dailyPrice | currency: "TRY":"₺":"3.2-2"}}</li>
        </ul>
        <div class="text-center card-body">
            <a href="details/{{car.id}}" class="btn btn-dark">DETAY</a>
        </div>
    </div>
</div>
<app-rental-add></app-rental-add>