<!-- <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span> -->
<h1>Kiralama</h1>
<table class="table container">
    <thead>
        <tr>
            <th>Id</th>
            <th>Araba</th>
            <th>Kullanıcı</th>
            <th>Müşteri</th>
            <th>Kiraladığı tarih</th>
            <th>Teslim tarih</th>
            <th>Fiyat/gün</th>
            <th>Toplam gün</th>
            <th>Toplam tutarToplam</th>
        </tr>
    </thead>
    <tr *ngFor="let rental of rentals">
        <td>{{rental.rentalId}}</td>
        <td>{{rental.carName}}</td>
        <td>{{rental.userName}}</td>
        <td>{{rental.customerName}}</td>
        <td>{{rental.rentDate}}</td>
        <td>{{rental.returnDate}}</td>
        <td>{{rental.dailyPrice}}</td>
        <td>{{rental.totalRentDay}}</td>
        <td>{{rental.totalPrice}}</td>
    </tr>
</table>