<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">Araç ID No</th>
            <th scope="col">Marka</th>
            <th scope="col">Araç adı</th>
            <th scope="col">Renk</th>
            <th scope="col">Model yılı</th>
            <th scope="col">Günlük fyatı</th>
            <th scope="col">Vites tipi</th>
            <th scope="col">Motor gücü</th>
            <th scope="col">Yakıt tipi</th>
            <th scope="col">Açıklama</th>
            <th scope="col"><button class="btn btn-success" click="routerLink" routerLink="add">Araç Ekle</button></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let car of cars">
            <th scope="row">{{car.id}}</th>
            <td>{{car.brandId}} - {{car.brandName}}</td>
            <td>{{car.carName}}</td>
            <td>{{car.colorId}} - {{car.colorName}}</td>
            <td>{{car.modelYear}}</td>
            <td>{{car.dailyPrice}}</td>
            <td>{{car.gearType}}</td>
            <td>{{car.enginePower}}</td>
            <td>{{car.fuelType}}</td>
            <td>{{car.description}}</td>
            <td>
                <button class="btn btn-warning" click="routerLink" routerLink="update/{{car.id}}">Güncelle</button>
                <button class="btn btn-danger" click="routerLink" routerLink="delete/{{car.id}}">Sil</button>
            </td>
        </tr>
    </tbody>

</table>