<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: x-large;" title="Favorilerim">
        <i class="fa fa-heart" style="color: rgb(145, 22, 22);" aria-hidden="true"></i>
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li *ngFor="let favoriteItem of favoriteItems" style="width: 235px;">
            <a class="dropdown-item">
                <span click="routerLink" routerLink="details/{{favoriteItem.car.id}}" style="float: left; cursor: pointer;">{{favoriteItem.car.brandName}} {{favoriteItem.car.carName}}</span>
                <span (click)="removeFromFavorite(favoriteItem.car)" class="badge bg-danger mt-1" style="float: right; cursor: pointer; height: min-content;">X</span>
                <hr>
            </a>
        </li>
        <li *ngIf="favoriteItems.length<1 " class="text-center">
            <span class="badge rounded-pill bg-warning text-dark">Favorileriniz boş</span>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Favorilere git</a></li>
    </ul>
</li>