<div>
    <div><img style="height: 350px; width: 100%; border: 10px solid #272b30;" [src]="imgUrl + welcomeImage" alt=""></div>

    <div class="row">
        <div class="col-md-3">
            <app-brand></app-brand>
            <app-color></app-color>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-9 p-4">
                    <app-car-filter></app-car-filter>
                </div>
                <div class="col-md-3">
                    <div class="d-flex justify-content-end mt-3">
                        <input type="text" [(ngModel)]="filterText" class="search p-2" id="filterText" placeholder="Arama ifadesi giriniz..">
                        <button class="btn btn-dark" type="button"><i class=" fas fa-search"></i></button>
                    </div>
                </div>
            </div>


            <div *ngIf="filterText.length>2" class="alert alert-success text-center">
                {{filterText}} için sonuçlar :
            </div>

            <div class="row">
                <div *ngFor="let car of cars | filterPipe:filterText" class="m-auto mt-3 col-md-3 card" style="width: 20rem;">
                    <img *ngIf="car.carImage.length == 0" class="card-img-top" alt="Image" width="200" height="200" style="object-fit: cover;" [src]="imgUrl + defaultImage">
                    <img *ngIf="car.carImage.length != 0" class="card-img-top" alt="Image" width="200" height="200" style="object-fit: contain;" [src]="imgUrl + car.carImage[0].imagePath ">

                    <div class="card-body">
                        <h5 class="text-center card-title ">{{car.brandName}} {{car.carName}}</h5>
                    </div>
                    <ul class="list-group list-group-flush ">
                        <li class="text-center list-group-item ">MODEL : {{car.modelYear}}</li>
                        <li class="text-center list-group-item "><i class="fas fa-palette" style="color: gray;"></i> {{car.colorName}}</li>
                        <li class="text-center list-group-item "><i class="fas fa-gas-pump" style="color: gray;"></i> {{car.fuelType}}</li>
                        <li class="text-center list-group-item "><span class="discount">{{car.dailyPrice*1.2 | currency: "TRY":"₺":"3.2-2"}}       
                        </span><br> {{car.dailyPrice | currency: "TRY":"₺":"3.2-2"}}</li>
                    </ul>
                    <div class="text-center card-body">
                        <a href="details/{{car.carId}}" class="btn btn-dark">DETAY</a>
                    </div>
                </div>
            </div>
        </div>